[submodule "vendor/php-mode"]
	path = vendor/php-mode
	url = https://github.com/ejmr/php-mode
[submodule "vendor/coffee-mode"]
	path = vendor/coffee-mode
	url = https://github.com/defunkt/coffee-mode.git
[submodule "vendor/solarized"]
	path = vendor/solarized
	url = https://github.com/sellout/emacs-color-theme-solarized.git
[submodule "vendor/yasnippet"]
	path = vendor/yasnippet
	url = https://github.com/capitaomorte/yasnippet.git
[submodule "vendor/snippets/php-mode"]
	path = vendor/snippets/php-mode
	url = https://github.com/nishimura/minimal-yasnippet-php-mode.git
[submodule "vendor/magit"]
	path = vendor/magit
	url = https://github.com/magit/magit.git
[submodule "vendor/acejump"]
	path = vendor/acejump
	url = git://github.com/winterTTr/ace-jump-mode.git
[submodule "vendor/js2"]
	path = vendor/js2
	url = git://github.com/mooz/js2-mode.git
[submodule "vendor/webmode"]
	path = vendor/webmode
	url = git://github.com/fxbois/web-mode.git
[submodule "vendor/solarized-alt"]
	path = vendor/solarized-alt
	url = git://github.com/bbatsov/solarized-emacs.git
[submodule "vendor/pretty-symbols"]
	path = vendor/pretty-symbols
	url = git://github.com/drothlis/pretty-symbols.git
[submodule "vendor/clojure-mode"]
	path = vendor/clojure-mode
	url = https://github.com/technomancy/clojure-mode.git
[submodule "vendor/nrepl"]
	path = vendor/nrepl
	url = https://github.com/kingtim/nrepl.el.git
[submodule "vendor/rainbow-delimiters"]
	path = vendor/rainbow-delimiters
	url = https://github.com/jlr/rainbow-delimiters.git
[submodule "vendor/projectile"]
	path = vendor/projectile
	url = git://github.com/bbatsov/projectile.git
[submodule "vendor/s"]
	path = vendor/s
	url = git://github.com/magnars/s.el.git
[submodule "vendor/dash"]
	path = vendor/dash
	url = https://github.com/magnars/dash.el
[submodule "vendor/helm"]
	path = vendor/helm
	url = https://github.com/emacs-helm/helm.git
[submodule "vendor/zenburn"]
	path = vendor/zenburn
	url = git://github.com/bbatsov/zenburn-emacs.git
